.parent-container {
  padding: 30px;
}

.txtShipping {
  margin-top: 50px;
  margin-bottom: 30px;
  color: cadetblue;
}

.txtCheckout {
  margin-top: 40px;
  color: cadetblue;
}

.label-name{
  margin-top: 30px;
}

.input-field{
  margin-top: 20px;
  border-radius: 5px;
  width: 2px;
}

.btnSubmit {
  background-color: brown;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  border-color: white;
  border-radius: 25px;
  margin-top: 50px;
}

.input {
  /* padding: 15px; */
  /* margin: 5px 0px; */
  border-radius: 5px;
  border: 1px solid gray;
}

.span {
  font-size: 14px;
  padding: 3px;
  margin-top: 5px;
  color: red;
}

.parent-product-card {
  margin-bottom: 20px;
  padding: 10px;
}

.parent-cross {
  right: 10%;
  top: 10%;
  position: absolute;
}